Source: Facerec
Section: devel
Priority: optional
X-Python3-Version: >= 3.6
Build-Depends: python, dh-python, dh-make, debhelper, fakeroot
Maintainer: Rushabh Vasani <vasanirushabh24@gmail.com>

Package: facerec
Homepage: https://github.com/rushabh-v/linux_face_unlock
Architecture: Ubuntu
Depends: ${devel:Depends} python3-pip, python3-opencv, python-execnet, cmake, libatlas-base-dev, build-essential
Description: A face authentication system for Ubuntu Linux.

